extends layout

block content
  h1 Nova mensagem

  a(href="/") Voltar para mensagens

  form(method="POST" action="/new")
    label(for="user") Nome de usuário:
    input(type="text" id="user" name="user" required)

    label(for="message") Digite uma mensagem:
    input(type="text" id="message" name="message" required)

    button(type="submit") Enviar