extends layout

block content
  a(href="/") Voltar para mensagens

  h2 Nova mensagem

  form(method="POST" action="/new")
    div(class="form-row")
      - var maxLength = "16"
      label(for="user") Nome de usuário:
      input(type="text" id="user" name="user" maxlength=maxLength required)
      p= "Máximo de " + maxLength + " caracteres"

    div(class="form-row")
      - var maxLength = "140"
      label(for="message") Digite uma mensagem:
      textarea(id="message" rows="3" name="message" maxlength=maxLength required)
      p= "Máximo de " + maxLength + " caracteres"

    button(type="submit") Enviar